
.label {
-fx-font-size: 12px;
-fx-font-weight: bold;
}
.button {
 -fx-text-fill: white;
 -fx-font-weight: bold;
 -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
#SettingsText{
-fx-font-size: 32px;
-fx-font-family: Arial;
-fx-fill: rgb(85,87,83);
}
.root {
-fx-background-image: url("images/background.jpeg")
}